<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDO List</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Yeseva+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="box" id="heading">
        <h1> <%= kindOfDay %> </h1>
    </div>

    <div class="box">

        <% for(var i=0; i<newListItems.length; i++){ %>
        <div class="item">
            <input type="checkbox">
            <p> <%= newListItems[i] %> </p>
        </div>
        <% ***REMOVED*** %>

        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required>

            <button type="submit" name="button">+</button>
        </form>

    </div>


</body>

</html>